@import url(./login.css);
@import url(./register.css);
@import url(./header.css);
@import url(./notFound.css);
@import url(./welcome.css);
.fillContent {
  min-width: 1000px;
  width: 100%;
  min-height: 768px;
  background: url(../img/load_bg1.jpg) no-repeat fixed;
  background-size: cover; }

.content {
  min-width: 1000px;
  min-height: 1080px;
  overflow-y: hidden; }
